# Projeto 1 - Ciência dos Dados

Por Victor Vergara Arcoverde de Albuquerque Cavalcanti

## Pergunta

**Países que se juntam a OTAN  aumentam sua participação no mercado mundial de armas?**

## Hipótese

A OTAN (Organização do Tratado do Atlântico Norte) promove o contato militar e político entre os seus membros, tendo como seus dois dos seus princípios principais a  proteção mútua e luta contra o terrorismo, mas por não ter um "standing army", ela depende dos exércitos de seus membros para realizar as sua operações. Assim a Organização obriga que o exécito de seus membros sejam bem equipados e modernizados, causando uma grande rotação de equipamentos e armamentos desses exécitos, e levando em conta que 7 dos 10 maiores exportadores de armas e equipamentos militares do planeta são membros da OTAN é razoável esperar que países da OTAN prefiram comprar de outros países membros ou seus aliados próximos que outros países. 

**Obs: Alguns links para os dados citados acima.**

 [Objetivos da OTAN.](:https://www.nato.int/cps/en/natohq/126169.html)

 [Ranking de exportação de equipamentos e armamentos militares.](:https://www.businessinsider.com/top-countries-exporting-weapons-arms-sales-2018-3#10-netherlands-1)

[Artigo que suporta a hipôtese apresentada](:https://www.voanews.com/europe/nato-defense-buildup-us-weapons-makers-could-benefit)

## Mecanismo

Para responder a pergunta será estudado os dados de importação e exportação de armamentos e equipamentos militares de alguns países que entraram na OTAN em 2004 antes e depois de se tornarem membros, outros países que fazem parte da organização e alguns países similares aos membros da organização que não fazem parte dela. Com os dados obtidos na análise será possível compará-los com a finalidade de descobrir caso eles tenham um comportamento parecido, ou se o fato de terem entrado na OTAN causou alguma mudança na importação e exportação de armamentos e equipamentos militares.

## Bases de dados usadas

Os dados utilizados foram coletados do World Data Bank

Impotação de armamentos e equipamentos militares [World Bank (Importação)](:https://data.worldbank.org/indicator/MS.MIL.MPRT.KD)

Exportação de armamentos e equipamentos militares [World Bank (Exportação)](:https://data.worldbank.org/indicator/MS.MIL.XPRT.KD)

In [58]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import os
from numpy import arange
from numpy import percentile
import numpy as np

In [59]:
#Leitura dos excel
expor = pd.read_excel("Arms_exports.xlsx")
impor = pd.read_excel("Arms_imports.xlsx")
membros = pd.read_excel("NATO_members.xlsx")

### Preparação dos dados

In [60]:
impor = impor.set_index('country')
expor = expor.set_index('country')
data = impor.join(expor, how='inner', lsuffix='_im', rsuffix='_ex')
# Membros que aparecem na tabela
membros=['Belgium',"Bulgaria","Canada","Croatia" "Czech Republic", "Denmark","Estonia","France",
         "Germany", "Greece","Hungary","Iceland", "Italy","Latvia","Lithuania","Netherlands",
         "Norway","Portugal","Romania","Slovak Republic","Spain","Turkey","United Kingdom",
         "United States"]

In [61]:
#criando uma nova coluna indicando se os países da tabela fazem ou não parte da OTAN"
lista_ex=[]
for a in expor.index:
    if a in membros:
        lista_ex.append(True)
    else:
        lista_ex.append(False)
        
expor["OTAN"]=lista_ex

lista_im=[]
for a in impor.index:
    if a in membros:
        lista_im.append(True)
    else:
        lista_im.append(False)

impor["OTAN"]=lista_im

lista_data=[]
for a in data.index:
    if a in membros:
        lista_data.append(True)
    else:
        lista_data.append(False)
data["OTAN"]=lista_data

expor_n_membros= expor.loc[(expor.OTAN==False),:]
expor_membros= expor.loc[(expor.OTAN==True),:]
impor_n_membros= impor.loc[(impor.OTAN==False), :]
impor_membros= impor.loc[(impor.OTAN==True), :]

In [62]:
expor_membros_janela=expor.loc[["Bulgaria", "Czech Republic","Estonia", "Hungary","Latvia",
                                "Lithuania","Romania","Slovak Republic"],:]
expor_membros_janela_2004= expor_membros_janela.loc[:, [2001,2002,2003,2004,2005,2006,2007]]
expor_membros_janela_2004

,2001,2002,2003,2004,2005,2006,2007
country,,,,,,,
Bulgaria,10000000.0,32000000.0,44000000.0,19000000.0,86000000.0,5000000.0,9000000.0
Czech Republic,88000000.0,60000000.0,64000000.0,1000000.0,70000000.0,44000000.0,32000000.0
Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hungary,NaN,34000000.0,NaN,NaN,82000000.0,NaN,9000000.0
Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,NaN,3000000.0,NaN,NaN,NaN,NaN,NaN
Romania,NaN,NaN,24000000.0,NaN,3000000.0,8000000.0,32000000.0
Slovak Republic,53000000.0,32000000.0,NaN,46000000.0,NaN,7000000.0,22000000.0

In [63]:
impor_membros_janela=impor.loc[["Bulgaria", "Czech Republic","Estonia", "Hungary","Latvia",
                                "Lithuania","Romania","Slovak Republic"],:]
impor_membros_janela_2004= impor_membros_janela.loc[:, [2001,2002,2003,2004,2005,2006,2007]]
impor_membros_janela_2004

,2001,2002,2003,2004,2005,2006,2007
country,,,,,,,
Bulgaria,NaN,NaN,2000000.0,12000000.0,132000000.0,22000000.0,48000000.0
Czech Republic,65000000.0,48000000.0,97000000.0,7000000.0,594000000.0,45000000.0,10000000.0
Estonia,NaN,1000000.0,13000000.0,8000000.0,20000000.0,7000000.0,19000000.0
Hungary,14000000.0,NaN,NaN,72000000.0,13000000.0,253000000.0,196000000.0
Latvia,13000000.0,3000000.0,25000000.0,12000000.0,4000000.0,9000000.0,51000000.0
Lithuania,16000000.0,12000000.0,1000000.0,47000000.0,9000000.0,52000000.0,4000000.0
Romania,19000000.0,16000000.0,17000000.0,285000000.0,437000000.0,61000000.0,98000000.0
Slovak Republic,NaN,27000000.0,NaN,NaN,4000000.0,NaN,NaN

É possível perceber que dentre os países que poderiam ser utilizados para análise a República Tchéquia é o único que se tem dados durante a faixa desejada, então será estudados apenas os dados da República Tchéquia, Bulgária e România nos anos e 2003, 2005 e 2007, a fim de representar o conjunto dos países apresentados acima 2 anos antes, logo após a sua entrada, e 2-3 anos após as suas entrada.
## Controle

## Análise de dados

In [54]:

data_ex_membros=expor_membros_janela_2004.loc[["Czech Republic","Bulgaria","Romania",],[2003,2005,2007]]
data_im_membros=impor_membros_janela_2004.loc[["Czech Republic","Bulgaria","Romania",],[2003,2005,2007]]

#expor_membros[quali_2004]= pd.cut(expor_membros.2004, bins = 8, right=False)
#ex_membros.sort_values(by=2017, ascending=False)

In [55]:
data_im_membros

                      2003         2005        2007
country
Czech Republic  97000000.0  594000000.0  10000000.0
Bulgaria         2000000.0  132000000.0  48000000.0
Romania         17000000.0  437000000.0  98000000.0

In [56]:
data_ex_membros

                      2003        2005        2007
country
Czech Republic  64000000.0  70000000.0  32000000.0
Bulgaria        44000000.0  86000000.0   9000000.0
Romania         24000000.0   3000000.0  32000000.0

## Conclusão